# History files
# .Rhistory
# .Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

/mining/case/ZeroR/nbproject/private/
/mining/case/ZeroR/build/
/mining/case/data
/mining/case/libs
/mining/books
/mining/converter
/mining/case/case/nbproject/private/
/mining/case/case/build/